<div> 
    <h1 class="title">ITEMS</h1>

    <div class="container">
        @for (item of principalList; track $index) {
            <div class="card">
                <div class="cardTitle">
                    <p class="userid">User ID: {{ item.userId }}</p>
                    <p class="id">ID: {{ item.id }}</p>
                </div>
                <div class="cardBody">
                    <p>{{ item.title }}</p>
                    <p>{{ item.body }}</p>
                </div>
            </div>
        }
    </div>
</div>